//Inside .main.container

ul.nav.nav-pills
  li.active: a(href="#") My Tasks
  li: a(href="#") Watching
  
.row
  // Sidebar: TaskListView
  .span4
    #tasks_controls.btn-group
      button.btn.btn-mini.dropdown-toggle(data-toggle="dropdown")
        = "View "
        span.caret
      ul.dropdown-menu.pull-right
        li: a.selected(href="#") Sort Tasks By Create Date
        li: a(href="#") Sort Tasks By Due Date
        li: a(href="#") Sort Tasks By Progress
        li.divider
        li: a.selected(href="#") Seperate Personal and Shared Tasks
        li.divider
        li: a.selected(href="#") Show Ongoing Tasks
        li: a(href="#") Show Completed Tasks
        
    #tasks
      #task_list_item_template(style='display: none')
        span.badge.pull-right {{ badgeNum }}
        span.task_name {{ taskName }}
        span.completeness {{ completenessMsg }}
        span.task_due {{ dueMsg }}
        span.created_by Created by {{ createdByName }}

  
  // TaskContentView
  .span8